@model RighteousGloryHotel.Models.Room

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.floor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.floor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roomNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roomNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.balconyView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.balconyView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.roomDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.roomDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="roomId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
