@model IEnumerable<RighteousGloryHotel.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.roomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateOfBooking)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.roomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfBooking)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.bookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.bookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.bookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
